In [1]:
from utils import *
from pathlib import Path
from typing import NamedTuple
import pandas as pd

In [2]:
val_df = get_valdf()

In [3]:
azure_df = get_azuredf()

In [4]:
azure_df.head()

           path  predicted_age predicted_gender
0  val/9733.jpg           32.0             male
1    val/63.jpg            NaN              NaN
2  val/6400.jpg           36.0           female
3   val/823.jpg           30.0             male
4  val/4217.jpg            4.0           female

In [5]:
val_df.head()

        file    age  gender             race  service_test
0  val/1.jpg    3-9    Male       East Asian         False
1  val/2.jpg  50-59  Female       East Asian          True
2  val/3.jpg  30-39    Male            White          True
3  val/4.jpg  20-29  Female  Latino_Hispanic          True
4  val/5.jpg  20-29    Male  Southeast Asian         False

In [7]:
val_df.merge(azure_df, left_on = 'file', right_on = 'path').to_csv('azure_val_merged.csv')